.App {
  text-align: right;
  padding: 20px;
  margin: auto;
  padding-right: 20em;
  background-color:rgba(243, 235, 226, 0.767);
}
.Nav-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: larger;
}
.Title {
  text-align: center;
  padding-left: 10em;
  margin: auto;
}

.img-class {
  border-left: 5px;
  border-left-color:black;
  border-left-style: solid;
  width: 50em;
  height: 15em;
  border-radius: 5%;
  border-top: 2px;
  border-top-style: groove;
  border-top-color: black;
  padding-top: 1em;
  padding-left: 1em;
}
